---
const { title } = Astro.props;

interface Props {
  title: string;
}
// class="dark:bg-neutral-900 dark:text-neutral-100 bg-neutral-100 text-neutral-900"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body
    transition:animate="fade"
		class="antialiased"
  >
    <slot />
  </body>
</html>
